<% layout("/layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="alert alert-danger col-8 offset-3 mt-3" role="alert">
      <h4>Error Message : <%=message%></h4>
      <h5>Error Code : <%=statusCode%></h3>
    </div>
  </div>
</body>
